<header id="header">
    <h1>Weather App</h1>
    <div id="navbar">
        <a href="/weather">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
        <a href="/contact">Contact</a>
    </div>
</header>